%h1 Job Types
%table
  %thead
    %tr
      %th Name
  %tbody
    - @job_types.each do |job_type|
      %tr
        %td= link_to job_type.name, edit_job_type_path(job_type)
%ul.actions
  %li= link_to 'New Job Type', new_job_type_path, class: 'button'