%h1 Job Types
%table
  %thead
    %tr
      %th Name
      %th
  %tbody
    - @job_types.each do |job_type|
      %tr
        %td= job_type.name
        %td.actions
          = link_to 'Edit', edit_job_type_path(job_type)
          = link_to 'Destroy', job_type, method: :delete, data: { confirm: 'Are you sure?' }
%hr/
%ul.actions
  %li= link_to 'New Job Type', new_job_type_path, class: 'button'