%h1 Best Day Ever
%table
  %thead
    %tr
      %th Date
      %th Customer
      %th Worker
  %tbody
    - @jobs.each do |job|
      %tr
        %td= link_to job.date, job
        %td= job.customer.full_name
        %td= job.worker.full_name