%h1 Listing jobs
%table
  %thead
    %tr
      %th Date
      %th Customer
      %th Worker
  %tbody
    - @jobs.each do |job|
      %tr
        %td= link_to job.date_time, job
        %td= job.customer_id
        %td= job.worker_id
%hr/
%ul.actions
  %li= link_to 'New Job', new_job_path