%h1 Pool Types
%table
  %thead
    %tr
      %th Name
      %th
  %tbody
    - @pool_types.each do |pool_type|
      %tr
        %td= pool_type.name
        %td.actions
          = link_to 'Edit', edit_pool_type_path(pool_type)
          = link_to 'Destroy', pool_type, method: :delete, data: { confirm: 'Are you sure?' }
%hr/
%ul.actions
  %li= link_to 'New Pool Type', new_pool_type_path, class: 'button'