%h1 Filter Types
%table
  %thead
    %tr
      %th Name
  %tbody
    - @filter_types.each do |filter_type|
      %tr
        %td= link_to filter_type.name, edit_filter_type_path(filter_type) 
%ul.actions
  %li= link_to 'New Filter Type', new_filter_type_path, class: 'button'