%h1 Filter Types
%table
  %thead
    %tr
      %th Name
      %th
  %tbody
    - @filter_types.each do |filter_type|
      %tr
        %td= filter_type.name
        %td.actions
          = link_to 'Edit', edit_filter_type_path(filter_type)
          = link_to 'Destroy', filter_type, method: :delete, data: { confirm: 'Are you sure?' }
%ul.actions
  %li= link_to 'New Filter Type', new_filter_type_path, class: 'button'