%nav
	%h1 Client Facing
	%ul.default
		%li= link_to 'Customers', customers_path
		%li 
			Jobs
			/ = link_to 'Jobs', jobs_path
			%ul.default
				%li= link_to 'Job Types', job_types_path	
		%li= link_to 'Workers', workers_path

%hr/