%h1 Workers
%table
  %thead
    %tr
      %th Name
      %th Phone
      %th City
  %tbody
    - @workers.each do |worker|
      %tr
        %td
          = link_to worker.full_name, worker
        %td= worker.phone
        %td= worker.city
%ul.actions
  %li= link_to 'New Worker', new_worker_path, class: 'button'
