//---------------------------------------------------------------------------------------------
//  FRAMESLESS
  $font-size: 16px;     // Your base font-size in pixels
  $em: $font-size / 1em;  // Shorthand for outputting ems

  $column: 48px;  // The column-width of your grid in pixels
  $gutter: 24px;  // The gutter-width of your grid in pixels

  // Column-widths in variables, in ems  
     $cols1: ( 1 * ($column + $gutter) - $gutter) / $em; //   48
     $cols2: ( 2 * ($column + $gutter) - $gutter) / $em; //  120
     $cols3: ( 3 * ($column + $gutter) - $gutter) / $em; //  192
     $cols4: ( 4 * ($column + $gutter) - $gutter) / $em; //  264
     $cols5: ( 5 * ($column + $gutter) - $gutter) / $em; //  336
     $cols6: ( 6 * ($column + $gutter) - $gutter) / $em; //  408
     $cols7: ( 7 * ($column + $gutter) - $gutter) / $em; //  480
     $cols8: ( 8 * ($column + $gutter) - $gutter) / $em; //  552
     $cols9: ( 9 * ($column + $gutter) - $gutter) / $em; //  624
      $cols10: (10 * ($column + $gutter) - $gutter) / $em; //  696
      $cols11: (11 * ($column + $gutter) - $gutter) / $em; //  768
      $cols12: (12 * ($column + $gutter) - $gutter) / $em; //  840
      $cols13: (13 * ($column + $gutter) - $gutter) / $em; //  912
      $cols14: (14 * ($column + $gutter) - $gutter) / $em; //  984
      $cols15: (15 * ($column + $gutter) - $gutter) / $em; // 1056
      $cols16: (16 * ($column + $gutter) - $gutter) / $em; // 1128
      $cols17: (17 * ($column + $gutter) - $gutter) / $em; // 1200
      $cols18: (18 * ($column + $gutter) - $gutter) / $em; // 1272
      $cols19: (19 * ($column + $gutter) - $gutter) / $em; // 1344
      $cols20: (20 * ($column + $gutter) - $gutter) / $em; // 1416
      $cols21: (21 * ($column + $gutter) - $gutter) / $em; // 1488
      $cols22: (22 * ($column + $gutter) - $gutter) / $em; // 1560
      $cols23: (23 * ($column + $gutter) - $gutter) / $em; // 1632
      $cols24: (24 * ($column + $gutter) - $gutter) / $em; // 1704
      $cols25: (25 * ($column + $gutter) - $gutter) / $em; // 1776
      $cols26: (26 * ($column + $gutter) - $gutter) / $em; // 1848
  
  // Column-widths in a function, in ems
  @mixin width ($cols:1) {
    width: ($cols * ($column + $gutter) - $gutter) / $em;
  }

  // Grid Background;
  $grid-light: snow;
  $grid-dark:  beige;

  html {
    height: 100%;
    .containeroff{
      min-height: 100%;
      @include background-image(linear-gradient(to right, $grid-light, $grid-light $gutter, $grid-dark $gutter, $grid-dark $column, $grid-light $column));
      background-size: ($column + $gutter) $column;
      background-position: 24px;
    }
  }


//---------------------------------------------------------------------------------------------
//  STRUCTURE
  *, *:before, *:after { @include box-sizing(border-box); }
  
  //html{ background: #e0e4cc;  }

  nav.main{
    @include clearfix;
    background: white;
    padding: .25em .5em;
    box-shadow: 0 0 30px rgba(0,0,0,.25);
    top: 0;
    position: fixed;
    width: 100%;
    ul{
      li{
        float: left;
        margin-right: 1em;
      }
    }
  }

  .container{
    margin: 0 auto;
    padding: 3em 0 0 0;
  }


  

//---------------------------------------------------------------------------------------------
//  FORMS

  #error_explanation{
    padding: 1em;
    margin: .5em;
    background: red;
    background: rgba(200,0,0,.75);
    border-radius: 1em;
    h2{ font-size: 1em; }
    p, ul{
      color: white;
      font-size: .9em;
      font-weight: bold;
    }
    ul{ margin-bottom: 0;}
  }

  label.req{
    &::after{ 
      content: ' *';
      color: $warning-red;
      font-size: .9em;
      
    }
  }

  tbody tr{
    transition: background-color 0.25s ease-out;
    &:hover{ background-color: rgba(25,225,255,.05); }
  }
  td.actions{ text-align: right; }

  .actions{
    text-align: center;
    li{
      display: inline-block;
    }
  }
  .destroy.button{
        background-color: $warning-red;
        &:hover{
          background-color: darken($warning-red, 10%)
        }
      }

//---------------------------------------------------------------------------------------------
//  MEDIA QUERIES
  //@media screen and (max-width: $cols8) { body{ font-size: 14px / $em; } }
  //@media screen and (min-width: $cols25){ body{ font-size: 18px / $em; } }


  // iPhone Portrait
  //@media screen and (min-width: $cols4)  { .container{  @include width(4);  &:after{content:  'cols4';} } }
  // S4 Portrait
  @media screen and (min-width: $cols5) { 
    .container{  
      @include width(5); 
      &:after{
        content:  'cols5'; 
        display: block; 
        background: #333; 
        color: goldenrod; 
        padding: .25em .75em;
        text-align: center;
        position: fixed; top: 0; right: 0;
      } 
      } 
    }
  
  // iPhone Landscape
  //@media screen and (min-width: $cols7) { .container{  @include width(7);  &:after{content:  'cols7';} } }
  // S4 Landscape
  @media screen and (min-width: $cols9) { .container{  @include width(9);  &:after{content:  'cols9';} } }
  

  // iPad Portrait
  //@media screen and (min-width: $cols10) { .container{  @include width(10); &:after{content: 'cols10';} } }
  // iPad Landscape and Small Screen
  @media screen and (min-width: $cols14) { .container{  @include width(14); &:after{ content: 'cols14'; } } }










  